@use "../abstracts" as *;

body {
  font-family: $font-primary;
  font-weight: $fw-regular;
  line-height: 1.5;
  color: $color-text;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3 {
  font-weight: $fw-semibold;
  line-height: 1.2;
  color: $color-primary;
}